# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
.metadata/
ferrari-arg-auto/.settings/
ferrari-arg-auto/gradle/
ferrari-arg-auto/lib/.settings/
ferrari-arg-auto/lib/bin/
